<!DOCTYPE html>
<html>
<head>
  <title>on the issues</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="/master.css" rel="stylesheet">
  <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>
  <!-- favicons -->
  <meta name="apple-mobile-web-app-status-bar-style" content="white">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" sizes="57x57" href="/_favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/_favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/_favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/_favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/_favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/_favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/_favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/_favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/_favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/_favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/_favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/_favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/_favicons/favicon-16x16.png">
  <link rel="manifest" href="/_favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="Overlay">
  <div class="OverlayClose">Close</div>
  <div class="OverlayContent"></div>
</div>
<div id="SnackbarCont"></div>
<header class="globalHeader">
  <a href="/user">
    <div class="logo">
      <img src="/_img/logo.svg">
      <span class="Display2" id="headerName"></span>
      <span class="Display2">takesissue.org</span>
    </div>
  </a>
</header>
