<!DOCTYPE html>
<html>
<head>
  <title>Am I represented?</title>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
  <link href="/master.css" rel="stylesheet">
  <!-- Facebook Open Graph Tags -->
  <meta property="og:URL" content="http://amirepresented.com/" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Do you know who represents you?" />
  <meta property="og:description" content="Enter your zip. See who's elected to represent your interests in Washington." />
  <meta property="og:image" content="http://amirepresented.com/_img/fbshare.jpg" />
  <!-- Twitter Sharing Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@amirepresented">
  <meta name="twitter:title" content="Do you know who represents you?">
  <meta name="twitter:description" content="Enter your zip. See who's elected to represent your interests in Washington.">
  <meta name="twitter:image" content="http://amirepresented.com/_img/fbshare.jpg">
  <!-- favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144.png" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="apple-touch-icon-60x60.png" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="apple-touch-icon-76x76.png" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="apple-touch-icon-152x152.png" />
<link rel="icon" type="image/png" href="favicon-196x196.png" sizes="196x196" />
<link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="favicon-128.png" sizes="128x128" />
<meta name="application-name" content="&nbsp;"/>
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="mstile-144x144.png">
<meta name="msapplication-square70x70logo" content="mstile-70x70.png">
<meta name="msapplication-square150x150logo" content="mstile-150x150.png">
<meta name="msapplication-wide310x150logo" content="mstile-310x150.png">
<meta name="msapplication-square310x310logo" content="mstile-310x310.png">
</head>
<body>
<div id="SnackbarCont"></div>
<div id="ImgLoader"></div>
<div class="Overlay">
  <div class="OverlayClose"></div>
  <div class="OverlayCity HeadingMedium">
    <span id="OverlayCityName"></span>,<br>
    your elected representatives.
  </div>
  <div class="OverlayContent">
    <div class="OfficialRoster"></div>
  </div>
  <div class="ShareContainer">
    <h2 class="HeadingMedium">
      Share this?
    </h2>
    <div class="ShareModule">
      <input class="InputShare" id="shareUrl" type="text" value="http://amirepresented.com">
      <button class="BtnShare" data-clipboard-action="copy" data-clipboard-target="#shareUrl">Copy link</button>
    </div>
  </div>
  <p class="OverlaySiteCredit">
    Built by <a href="https://twitter.com/jeremypbeasley" target="_blank"><span class="BlackText BorderBottomBlack">@jeremypbeasley</span></a> and <a href="https://twitter.com/jennminerva" target="_blank"><span class="BlackText BorderBottomBlack">@jennminerva</span></a>. <br class="ShowMobile">See it on <a href="https://github.com/jeremypbeasley/who-representsme" target="_blank"><span class="BlackText BorderBottomBlack">Github</span></a>.
  </p>
</div>

<div class="OverlayScrim"></div>
