<div class="Overlay"></div>
<% include partials/header %>
<div class="HeroImgContainer"></div>
<div class="ContentContainer">
  <div class="TinyLogo"></div>
  <h1 class="WhiteText">
    Do you know who represents you?
  </h1>
  <form id="zipForm">
    <label class="WhiteText">
      Enter your email
    </label>
    <input type="tel" name="zip" id="zipInput" value="98144" class="InputZip">
    <input type="submit" value="Go" class="SubmitZip">
  </form>
  <div class="LandingPageQuote WhiteText">
    <p class="Italic">
      &ldquo;When the people become involved... government becomes more accountable, and our society is stronger.&rdquo;
    </p>
    <p class="mt4">
      &ndash;Arnold Schwarzenegger
    </p>
  </div>
  <p class="SiteCredit">
    Built by <a href="https://twitter.com/jeremypbeasley" target="_blank"><span class="BlackText BorderBottomBlack">@jeremypbeasley</span></a> and <a href="https://twitter.com/jennminerva" target="_blank"><span class="BlackText BorderBottomBlack">@jennminerva</span></a>
  </p>
  <a href="https://github.com/jeremypbeasley/who-representsme" target="_blank">
    <img class="ImgGitHub" src="_img/github_logo.png" alt="GitHub">
  </a>
  <div id="officialList"></div>
</div>
<% include partials/footer %>
