<% include partials/header %>

<div class="LeftHalf">
  <img src="">
</div>
<div class="RightHalf">
  <div class="LandingPageContainer">
    <div class="TinyLogo"></div>
    <h1 class="Display1 WhiteText mt8">
      Do you know who represents you?
    </h1>
    <div>
      <div>
        <label>
        Enter your email
        </label>
      </div>
      <div>
        <input type="number" pattern="[0-9]*" maxlength="3">
      </div>
      <button class="ZipGo">
        Go
      </button>
    </div>
    <p class="LandingPageQuote">
      “When the people become involved… government becomes more accountable, and our society is stronger.”
    </p>
    <p>
      -Arnold Schwarzenegger
    </p>
    <p>
      Built by @jeremypbeasley and @jennminerva
    </p>
  </div>
</div>

<% include partials/footer %>
