<% include partials/header %>

<div class="FlagImgContainer"></div>
<div class="RedBackground">
  <div class="TinyLogo TinyLogoLandingPage"></div>
  <h1 class="Display1 WhiteText mt4">
    Do you know who represents you?
  </h1>
  <form class="mt4">
    <label class="mt4">
      Enter your email
    </label>
    <input class="mt4" type="number" pattern="[0-9]*" maxlength="3">
    <input class="mt4" type="submit" value="Go">
  </form>
  <p class="LandingPageQuote mt4">
    &ldquo;When the people become involved&hellip; government becomes more accountable, and our society is stronger.&rdquo;
  </p>
  <p>
    -Arnold Schwarzenegger
  </p>
  <p class="BuiltBy">
    Built by @jeremypbeasley and @jennminerva
  </p>
</div>

<% include partials/footer %>
