<% include partials/header %>

<div class="FlagImgContainer">
  <img src="">
</div>
<div class="RedContainer">
  <div class="LandingPageContainer">
    <div class="TinyLogo"></div>
    <h1 class="Display1 WhiteText mt8">
      Do you know who represents you?
    </h1>
    <form>
      <div>
        <label>
        Enter your email
        </label>
      </div>
      <div>
        <input type="number" pattern="[0-9]*" maxlength="3">
      </div>
      <div>
        <input type="submit" value="Go">
      <div>
    </form>
    <p class="LandingPageQuote">
      &ldquo;When the people become involved&hellip; government becomes more accountable, and our society is stronger.&rdquo;
    </p>
    <p>
      -Arnold Schwarzenegger
    </p>
    <p>
      Built by @jeremypbeasley and @jennminerva
    </p>
  </div>
</div>

<% include partials/footer %>
