<% include partials/header %>
<div class="ResultsLocation">
  <p>Seattle, WA 98144</p>
  <
</div>
<h2 class="ml3">
  Share this?
</h2>
<div class="ShareContainer">
  <input type="text" value="http://who-represents.me" class="InputShare">
  <button class="BtnShare">
    Copy link
  </button>
</div>
<% include partials/footer %>
