<% include partials/header %>

<script>
var user_id = "<%= user.identities[0].user_id %>";
</script>
<div class="row">
  <a href="/logout" class="logout">Sign out</a>
</div>
<div class="officialTile">
  <h2 class="Caption">My Representatives</h2>
  <span class="rightAlign op50" id="displayZip"></span>
</div>
<div class="row Scroll">
  <div id="officialList" class="officialList"></div>
</div>
<div id="issuesList">
  <div class="officialTile">
    <h2 class="Caption">Issues</h2>
  </div>
</div>

<% include partials/footer %>
