.globalHeader {
  width: 100%;
  padding: unit2;
}
.globalHeader .logo img {
  height: 15px;
  margin-right: 7px;
}
.globalHeader #headerName {
  margin-right: -3px;
}
.logout {
  position: absolute;
  top: unit2+5;
  right: unit2;
}
