.FlagImgContainer {
  background: url("/_img/people_flag.png");
  background-repeat: no-repeat;
  background-size:100%;
  height: 10vh;
  width: 100%;
}
  @media laptop {
    .FlagImgContainer {
      height: 100vh;
      width: 50%;
      float: left;
    }
  }
.RedContainer {
  background: #FF3700;
  height: auto;
}
  @media laptop {
    .RedContainer {
      height:100vh;
      width: 50%;
      position: relative;
      float: right;
    }
  }
.LandingPageContainer {
  position: relative;
  top: 10rem;
  left: 22%;
  height: 90%;
  width: 60%;
}
.TinyLogo {
  background-image: url("/_img/logo.svg");
  background-size: 100%;
  height:18px;
  width: 26px;
  position: relative;
  top: 2rem;
}
.WhiteText {
  color: white;
}
