.Overlay {
  height: 100vh;
  width: 100vw;
  background: white;
  position: fixed;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 100ms ease-out;
  box-shadow: 0px 0px 126px 0px rgba(0,0,0,0.7);
  opacity: 0;
  //transform: translateX(100px);
  display: none;
}
@media laptop {
  .Overlay {
    width: 50vw;
    left: 50vw;
  }
}
.Overlay.Active {
  opacity: 1;
  //transform: translateX(0px);
}
.OverlayContent {
  margin: 3rem 0 0 0;
  padding-bottom: 6rem;
}
  @media laptop {
    .OverlayContent {
      margin: 5.5rem 0 0 0;
    }
  }
@media laptop {
  .OverlayScrim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: black;
    height: 100vh;
    display: none;
    opacity: 0;
    transition: all 100ms ease-out;
  }
  .OverlayScrim.Active {
    opacity: .8;
  }
}

// OFFICIALS
.OfficialRoster p {
  font-size: 1.3rem;
}
.OfficialRoster {
   display: flex;
   flex-direction: column;
   margin: unit3 unit1 unit6 unit1;
   justify-content: center;
 }
  @media laptop {
     .OfficialRoster {
       flex-direction: row;
       flex-wrap: wrap;
       margin-bottom: unit4;
     }
   }
.OfficialSingle {
  display: flex;
  flex-direction: row;
  margin: unit5 0;
  justify-content: center;
}
.OfficialPhoto {
  filter: grayscale(100%);
  width: 35%;
  height: 35%;
  margin: 0 unit4 0 unit2;
}
  @media laptop {
    .OfficialPhoto {
      width: 125px;
      height: 125px;
    }
  }
.OfficialInfo {
  // width: 13rem;
  margin-right: unit2
}
.OfficialOffice {
  margin: 0 0 1rem 0;
}
.OfficialName {
  word-wrap: break-word;
  width: 13rem;
}
.OfficialDivider {
  width: 90%;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  height: 1px;
}
  @media laptop {
    .OfficialDivider {
      display: none;
    }
  }

// CITY AND STATE HEADING

.OverlayCityContainer {
  position: relative;
  width: calc(100% - unit6);
  margin: unit3;
  height: 3rem;
  border-bottom: 1px solid #000;
  font-size: 1.3rem;
}
  @media laptop {
    .OverlayCityContainer {
      width: 40%;
      left: 4rem;
    }
}
.OverlayCityClear {
  position: relative;
  top: -2rem;
  left: 75vw;
}
  @media laptop {
    .OverlayCityClear {
      top: -1.8rem;
      left: 22rem;
    }
  }
.OverlayClose {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 32px;
  width: 32px;
  background: url(_img/close.svg) no-repeat;
  background-size: 16px;
  background-position: center center;
  border-radius: 50px;
  border: none;
  outline: none;
  text-indent: -99999px;
}
  @media laptop {
    .OverlayClose {
      position: relative;
      top: 5rem;
      left: 46%;
      opacity: .5;
    }
  }
.MissingSomeone {
    border-bottom: 1px solid #000;
    width: 13.4rem;
    font-size: 1.3rem;
    margin: unti7 0 0 unit3;
    position: relative;
    top: 3rem;
  }
.RosterBottomDivider {
  display: none;
}
  @media laptop {
    .RosterBottomDivider {
      display: block;
      border-bottom: 1px solid #000;
      width: 85%;
      margin: 0 auto;
    }
  }

// SHARE THIS MODULE

.ShareContainer {
  margin: 0 0 0 unit4;
}
@media laptop {
  .ShareContainer {
    margin: unit7 0 0 unit7;
  }
}
.ShareModule {
  border: 1px solid #FF3700;
  border-radius: 5px;
  width: 89%;
  max-width: 34rem;
  margin: 2rem 0 0 0;
}
@media laptop {
  .ShareModule {
    margin: 2rem 0 0 0;
  }
}
// overrides mobile safari input styling
input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.InputShare {
  border-radius: 0;
  border: none;
  height: 2.9rem;
  width: 69%;
  margin: 0 0 0 .5rem;
  border-right: 1px solid #FF3700;
  background: transparent;
  font-size: 1.4rem;
  color: #888;
  webkit-appearance: none;
}
.BtnShare {
  border: none;
  border-radius: 0;
  background: transparent;
  font-size: 1.4rem;
  color: #FF3700;
  padding: 0 1rem;
}
