html
	font-size 10px
	font-family typeface-primary, serif
	color: black;

body, p
	font-size 1.5rem

.unselectable {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
p {
	line-height 140%
	margin -.5em 0 1em 0
	text-align left
	cursor: default;
}
a, a:focus, a:visited, a:active {
	text-decoration: none;
	color: color-black;
}
strong {
	font-weight normal
}
h1,h2,h3,h4,h5,h6 {
	margin 0 0
	padding: 0 0
	font-size: 1rem;
	font-weight: normal
	line-height 130%
	position relative
	cursor: default;
}
.HeadingLarge {
	font-family: 'Iowanoldstyle', serif;
	font-size: 3rem;
  margin: 7rem 0 0 0;
  font-size: 13vw;
  width: 85%;
	opacity: 0;
}
@media laptop {
  .HeadingLarge {
    width: 60%;
    font-size: 4.2vw;
  }
}
.HeadingMedium {
  font-size: 2.6rem;
  font-family: 'Iowanoldstyle', serif;
}
.HeadingSmall {
	font-family: 'CircularStdBold', sans-serif;
	font-size: 2rem;
  margin: 0 0 2rem 0;
	font-size: 1.6rem;
}
.Caption {
	font-size: 1.1rem;
	font-family: typeface-secondary;
	text-transform: uppercase;
	letter-spacing: .05rem;
}
.WhiteText {
  color: white;
}
.Italic {
  font-style: italic;
}
.BlackText {
  color: #000;
}
.op50 {
  opacity: .5;
}

// buttons

button, .submitButton {
  background: white;
  padding: 5px 2rem;
  color: black;
  border-radius: 3px;
  border: 1px solid black;
  outline: none;
  font-family: typeface-primary;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 200ms ease-out;
  -webkit-appearance: none;
}
button.filled, button:hover, .submitButton:hover {
  background: black;
  color: white;
}
.followButton {
	border-color: color-orange;
	color: color-orange;
	padding: 5px 1rem 5px 2.7rem;
	background: url(_img/bolt.svg) no-repeat;
	background-size: 11px;
	background-position: 9px 8px;
}
.followButton {
	border-color: color-orange;
	color: color-orange;
	padding: 5px 1rem 5px 2.7rem;
	background-image: url(_img/bolt.svg);
	background-repeat: no-repeat;
	background-size: 11px;
	background-position: 9px 8px;
}
.followButton.filled, .followButton:hover {
	color: white;
	background-color: color-orange;
	background-image: url(_img/bolt_white.svg);
	background-repeat: no-repeat;
	background-size: 11px;
	background-position: 9px 8px;
}
.typed-cursor {
	display: none;
	opacity: 0;
}
