// COLOR

color-white=				#fff
color-creme=				#FAF9F7
color-black=				#2D2926
color-greenbright=	#62D78C
color-greendark=		#B0CA70
color-red=					#FD4218
color-orange=       #FF4F27

// TYPE

typeface-primary= 			CircularStdBook, Arial, sans-serif
typeface-secondary= 		CircularStdBold, ArialBold, sans-serif
typeface-body-black= 		CircularStdBlack, ArialBold, sans-serif

// BREAKPOINTS

phone =						"(min-width: 30em)"
tablet =					"(min-width: 48em)"
laptop =					"(min-width: 62em)"
desktop =					"(min-width: 75em)"
bigscreen =				"(min-width: 90em)"

// SPACING

unit0=		4px
unit1=		8px
unit2=		16px
unit3=		24px
unit4=		32px
unit5=		40px
unit6=		48px
unit7=		56px
unit8=		64px
unit9=		72px
unit10=		80px
unit11=		88px
unit12=   96px
